@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Roboto:wght@500;900&display=swap");

:root {
  --body-text: "Manrope", sans-serif;
  --headings-text: "Roboto", sans-serif;
  --blue: #7bafd4;
  --dark-blue: #175a8a;
  --green: #eff6ef;
  --font-color: #656b65;
  --bg-color: #f8f8f8;
}

body {
  background-color: var(--bg-color);
  font-family: var(--body-text);
  margin: 0;
}

.active {
  text-decoration: underline;
  text-underline-position: under;
}

header {
  background-color: var(--bg-color);
  position: fixed;
  width: 100%;
}

header ul {
  list-style: none;
}

header a {
  text-decoration: none;
  color: var(--font-color);
}

.menu_first_line {
  display: flex;
  text-align: center;
  gap: 1.5rem;
  margin: 0.9rem 1.3rem;
}

header img {
  height: 24px;
}

.logo_width {
  width: 100%;
}

.logo img {
  height: 27px;
}

.menu_second_line {
  background-color: var(--green);
}

.menu_second_line > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 10rem;
  padding: 0.5rem;
}

.menu_dropdown ul {
  position: absolute;
  font-size: 0.9rem;
  background-color: var(--green);
  width: 180px;
  padding: 0;
  margin-left: -1.2rem;
}

.menu_dropdown li {
  margin: 1.2rem;
}

.search_box {
  position: absolute;
  height: 15px;
  border-bottom: 2px solid #8e8e8e;
  padding: 0.7rem;
  margin-top: -0.6rem;
}

.search_text {
  border: none;
  background: none;
  outline: none;
  font-size: 1rem;
  color: var(--font-color);
  float: left;
  width: 210px;
}

.hidden,
#hamburger_id,
.menu_mobile_arrows {
  display: none;
}

@media screen and (min-width: 900px) {
  .menu_dropdown:hover ul {
    display: block;
  }

  #search_icon_id:hover + .search_box {
    display: inline;
  }

  .search_box:hover {
    display: inline;
  }
}

@media screen and (max-width: 1200px) {
  .menu_second_line > ul {
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .menu_second_line,
  .danish_flag {
    display: none;
  }

  #hamburger_id {
    display: block;
  }

  .menu_second_line.responsive {
    display: block;
    overflow: scroll;
    width: 100%;
    height: 100vh;
  }

  .menu_second_line.responsive ul {
    flex-direction: column;
  }

  .menu_second_line.responsive li {
    margin: 2rem;
  }

  .menu_mobile_arrows {
    display: inline;
    float: right;
  }

  .menu_mobile_arrows img {
    height: 10px;
  }

  .menu_dropdown ul {
    position: relative;
    margin: 3.5rem 1rem -2rem 1rem;
  }

  #cross_id {
    margin: 1.1rem 1.3rem;
  }

  #mobile_flag_id {
    display: block;
    float: right;
    margin: 1.1rem 1.3rem;
    height: 28px;
  }
}

/* footer stylings */
footer.main_footer {
  font-size: 1.1rem;
  background-color: var(--green);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.6fr;
  grid-template-rows: 0.8fr 0.7fr;
  padding-top: 0.5rem;
  border: 1px solid var(--font-color);
  padding: 0;
  margin-top: 4rem;
}

.about {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  padding: 1.5rem;
  border-bottom: 1px solid var(--font-color);
  border-right: 1px solid var(--font-color);
}

.faq {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  padding: 1.5rem;
  border-bottom: 1px solid var(--font-color);
  border-right: 1px solid var(--font-color);
}

.follow {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  padding: 1.5rem;
  border-bottom: 1px solid var(--font-color);
  border-right: 1px solid var(--font-color);
}

.signup {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
  padding: 1.5rem;
  border-bottom: 1px solid var(--font-color);
}

.copyright {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  padding: 1.5rem;
  border-right: 1px solid var(--font-color);
}

.payment {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
  padding: 1.5rem;
}

.payment > h4 {
  margin-top: 0;
}

.footer_icon {
  width: 3.3rem;
  height: 2.5rem;
  margin: 0.3rem;
}

.footer_icon_social {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.6rem;
}

input[type="text"].signup_email {
  height: 2.3rem;
  width: 15rem;
  font-size: 1.1rem;
}

input[type="text"].signup_email::placeholder {
  padding-left: 1rem;
}

input[type="submit"].signup_submit {
  height: 2.7rem;
  width: 8rem;
  background-color: #000000;
  color: white;
  font-size: 1.1rem;
  font-family: var(--body-text);
  margin: 0;
  margin-left: -5px;
  cursor: pointer;
}

input[type="submit"].signup_submit:hover {
  color: rgba(255, 255, 255, 0.7);
}

footer.main_footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer.main_footer h4 {
  margin-bottom: 0.5rem;
}
